<!DOCTYPE html>
<html lang="en">
<head>
    {{>head title=this.title subpage='ATN Shop' }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Toán</title>
    <link rel="stylesheet" href="../CSS/thanhtoan.css">
</head>
<body>
    {{>header  title=this.title}}
    {{>footer}}
      <div class="layer">
        <div class="layer1">
          <a href="order"><img src="nike.jpg" alt=""> </a> <br>
          <a class="ten" href="order">Nike Jordan<a> <br>
          <p class="gia">3.000.000Đ</p>
        </div>
        <div class="layer1">
          <a href="order"><img src="adidas.jpg" alt=""> </a> <br>
          <a class="ten" href="order">Adidas</a> <br>
          <p class="gia">2.500.000Đ</p>
        </div>
        <div class="layer1">
          <a href="order"><img src="vans.png" alt=""> </a> <br>
          <a class="ten" href="order">Vans</a> <br>
          <p class="gia">1.500.000Đ</p>
        </div>
      </div>
    </body>
</html>